@media only screen and (max-width: 1081px) {
    .navbuts > a{
        display: none;
    }
    .fa-bars {
        display: block !important;
    }
    .title {
        display: none;
    }
    .mobiletitle {
        display: block !important;
    }
    .header, .headertok {
        font-size: 24pt !important;
    }
    .headertok {
        margin-left: -10px;
    }
    .buttons {
    flex-direction: column !important;
    gap: 30px !important;
    }
    .content {
        font-size: 14pt !important;
    }
    .contenttok {
        flex-direction: column !important;
    }
    .tokenimg {
        width: 90% !important;
    }
    .tokenpoints {
        font-size: 14pt !important;
    }
    .roadmaps {
        display: flex !important;
        flex-direction: column !important;
    }
}

.tokenpoints {
    font-size: 26pt;
}

#navmenu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    text-decoration: none !important;
    padding: 40px;
    flex-direction: column !important;
    gap: 40px;
    filter: drop-shadow(0 0 1em #222222);
    position: fixed;
    top: 120px;
    width: calc(90% - 80px);
    background-color: #222222;
    text-align: center;
    border-radius: 16px;
    z-index: 10;
}

#navmenu > a {
    color: #E0E0E0;
    text-decoration: none;
}

.contenttok {
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0E0C0;
    margin: 0;
    color: #222222;
    padding-bottom: 50px;
}

.tokenimg {
    padding: 42px;
    width: 50%;
}

.tokenbody {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 42px;
    width: 50%;
    vertical-align: middle;
}

.topbar {
    filter: drop-shadow(0 0 1em #222222);
    display: flex;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222222;
    color: #E0E0E0;
}

.navbuts {
    margin-left: auto; 
    margin-right: 75px;
}

.navbuts > a {
    padding-left: 16px;
    text-decoration: none;
    color: #E0E0E0 !important;
}

.navbuts > a:hover {
    text-decoration: none;
    color: #ccc !important;
}

.fa-bars {
    display: none;
}

.mobiletitle {
    display: none;
}

.title, .mobiletitle {
    margin-left: 75px;
    position: absolute;
    font-weight: 600;
    font-size: 32px;
}

.main {
    width: 80%;
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header, .headertok {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 56pt;
    margin-bottom: 30px;
    line-height: 120%;
    font-weight: 900;
    text-align: center;
}

.content {
    max-width: 1000px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-size: 18pt;
    font-weight: lighter;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 60px;
}

.button {
    text-align: center;
    border-radius: 42px;
    padding: 20px;
    padding-top: 18px;
    text-decoration: none;
    background-color: #222222;
    color: #E0E0E0;
}

.roadmaps {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 100px;
    row-gap: 70px;
}

.roadmap {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roadmaps > .roadmap:nth-child(3) {
    grid-column: 1 / 3;
}

.roadmap > .header {
    font-size: 50px;
}
